#wrap {
    line-height: 1.4;
    font-family: $font-noto;
	font-weight: 400;
    .wrap {
        max-width: 720px;
        margin: 0 auto;
        text-align: center;
        @include boxSizing(border-box);
        @extend %clearfix;
        padding-right: percent(40);
        padding-left: percent(40);

        @include breakpoint(maxMobile){
            max-width:1200px;
        }
    }
}

#wrap{
    #contents{
        position:relative;
        background-color:#fff;
		min-height:80vh;

		@include vw(padding,0 0 50px);
    }
}
#wrap {
	overflow-x:hidden;
	@include breakpoint(desktop) {
		overflow-x:auto;
	}
	.main-search + 	.main-list-wrap{
		@include vw(padding-top, 50px);
	}

	.main-list-wrap{
		.component-nodata{
			position:absolute;left:0;top:50%;width:100%;text-align:center;
			transform: translateY(-50%);
			.component-text{
				
				img{@include vw(width, 111px);}
				.desc{
					margin-top:30px;
					&:first-child{margin-top:10px;}
					strong{
						@include vw(font-size, 26px);
						line-height:1.3;
						@include breakpoint(maxMobile){
							@include vw(font-size, 20px);
						}

						font-weight:700;
						&.highlight{color:#ffbf00;}
					}
					span{
						font-weight:400;
						color:#999;
						line-height:1.2;
						@include vw(font-size, 20px);
						@include breakpoint(maxMobile){
							@include vw(font-size, 14px);
						}
					
					}
				}
			}
			
		}

		.component-data{
			.component-list {
				position: relative;
				font-size: 0;
				li{
					display: block;
					width: 92%;
					margin: 0 4%;
					padding-bottom: 26.13333vw;
					box-sizing: content-box;
					vertical-align: top;
					@include vw(padding-bottom, 80px);

					@include breakpoint(maxMobile){
						width: 46%;
						display: inline-block;
						margin: 0 2%;
						@include vw(padding-bottom, 60px);
					}

					@include breakpoint(desktop){
						width: 30%;
						margin: 0% 0.625%;
						@include vw(padding-bottom, 80px);
					
						&:nth-child(3n+1) {
							margin-left: 3.75%;
						}
					}

					dl {
						position: relative;
						padding-top: 50%;
						dt{
							&.subject{
								letter-spacing: -0.02em;
								color: #222;
								text-align: left;font-weight:500;
								@include vw(padding, 36px 22px 0);
								@include vw(font-size, 26px);
								line-height:1.3;
								@include breakpoint(desktop){
									@include vw(font-size, 26px);
								}
							}
						}

						dd{
							&.desc{
								@include vw(font-size, 22px);
								@include breakpoint(maxMobile){
									@include vw(font-size, 15px);
								}
								@include multipleEllipsis(2);
								line-height: 1.3;
								@include vw(padding, 15px 22px 0);
								letter-spacing: -0.02em;
								color: #999;
							}

							&.date{
								@include vw(font-size,22px);
								@include breakpoint(maxMobile){
									@include vw(font-size, 14px);
								}
								line-height: 1;
								@include vw(padding, 18px 22px 0);
								color: #999;
							}

							&.img {
								position: absolute;
								left: 0;
								top: 0;
								width: 100%;
								padding-top: inherit;
								overflow: hidden;
								a {
									display: block;
									position: absolute;
									width: 100%;
									padding-top: inherit;
									top: 0;
									.item {
										position: absolute;
										left: 0;
										top: 0;
										right: 0;
										bottom: 0;
										overflow: hidden;

										figure.mod-covered-bg {
											position: absolute;
											left: 0;
											top: 0;
											width: 100%;
											height: 100%;
											background-position: 50% 0;
											background-repeat: no-repeat;
											background-size: cover;

											-webkit-transition: -webkit-transform 1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 1s;
											-moz-transition: -moz-transform 1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 1s;
											-ms-transition: -ms-transform 1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 1s;
											-o-transition: -o-transform 1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 1s;

											@include transform(scale(1, 1));
										}
									}

									&:hover{
										.item{
											figure.mod-covered-bg{
												-webkit-transition: -webkit-transform 1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 1s;
												-moz-transition: -moz-transform 1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 1s;
												-ms-transition: -ms-transform 1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 1s;
												-o-transition: -o-transform 1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 1s;
												transition: transform 1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 1s;

												@include transform(scale(1.2, 1.2));
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.btn-more{
		text-align: center;
		font-size: 0;
		a{
			.line{
				display: block;
				transform: translateY(0);
				height: 50px;
				transition: transform 1s 0s cubic-bezier(0.645, 0.045, 0.355, 1);
				transform-origin: center top;
				overflow: hidden;

				&:before {
					position: absolute;
					display: block;
					content: '';
					height: 100%;
					left: 50%;
					margin: 0 auto;
					border-left: 1px solid #000;
					transform-origin: center top;
					transition: transform 0.5s 0s cubic-bezier(0.215, 0.61, 0.355, 1);
				}
			}

			.txt{
				display: inline-block;
				position: relative;
				color: #222;
				line-height: 1;
				letter-spacing: 0.06em;
				transition: opacity 1s cubic-bezier(0,0,1,1);
				transition-delay: 0s;
				@include vw(padding, 10px 40px);
				@include vw(font-size, 26px);
				font-weight:700;letter-spacing:-1px;
				@include breakpoint(maxMobile){
					@include vw(font-size, 20px);
				}
			}
		}
	}

	.main-tab{
		position:relative;
		background-color:#bacdb0;
		@include vw(padding-top, 20px);
		padding-left: 3.75%;
		padding-right: 3.75%;
		.main-tab-title{
			font-weight: 600;
			@include vw(padding-bottom, 20px);
			color:#2e2c2f;
			letter-spacing: -1.5px;
			@include vw(font-size,24px);
			@include breakpoint(maxMobile){
				@include vw(font-size,26px);
			}
		}

		.main-tab-list{
			position:relative;
			display:flex;
			@include breakpoint(minDesktop){
				position:absolute;right: 3.75%;bottom:-1px;
				left:auto;
			}
			
			li{
				background-color:#f7f7f7;
				@include vw(padding, 15px 0 13px);
				@include vw(width, 120px);
				@include vw(margin-left, 4px);
				@include boxSizing(border-box);
				text-align:center;
				@include vw(border-top-left-radius, 10px);
				@include vw(border-top-right-radius, 10px);
				border:1px solid #dddddd;
				border-bottom:1px solid #f7f7f7;
				a{
					display:block;
					color:#ccc;
					@include vw(font-size, 18px);
					font-family:$font-roboto;
					font-weight:700;
				}

				&.active{
					background-color:#fff;
					border-bottom:1px solid #fff;
					a{
						color:#2e2c2f;
					}
				}
			}
		}
	}

	.btn-top{
		position:fixed;@include vw(right,30px);
		bottom:3%;
		@include breakpoint(maxMobile){
			bottom:7%;
		}
	}
	.main-view{
		display:flex;
		flex-wrap:wrap;
		@include breakpoint(maxMobile){
			flex-wrap:nowrap;
		}
		.main-tab-wrap{
			padding-left: 3.75%;
			padding-right: 3.75%;
				
			@include breakpoint(maxMobile){
				width:80%;
				max-width:1920px;
				@include vw(padding-right, 60px);
			}
		
			.main-tab-view{
				display:none;
				&#pcView{display:block;}
	
				.main-view-box{
					position:relative;
					@include vw(padding-top, 40px);
					.main-view-img{
						position:relative;
						@include vw(max-height,2000px);
						text-align:center;
						img{
							vertical-align: top;
							width: 100%;
							max-width: 100%;
						}
						&.active{
							max-height:100%;
							&:after{display:none;}
						}
						overflow:hidden;
						@include boxSizing(border-box);
						&:after{
							content:'';
							position:absolute;left:0;bottom:0;width:100%;
							background:url('../img/cover.png') no-repeat 50% 50%;
							background-size:cover;
							@include vw(height, 219px);
						}
						h3{
							@include vw(font-size, 22px);
							font-family: $font-noto;
							text-align: left;
							line-height:1;
							display: inline-block;
							@include vw(margin-top, 40px);
							@include vw(margin-bottom, 40px);
							position: relative;
							&:after{
								content:'';
								position:absolute;left:0;top:100%;bottom:0;width:100%;
								background:url('../img/check2.png') no-repeat 50% 50%;
								background-size:contain;
								// @include vw(width, 820px);
								@include vw(height, 20px);
							}
						}
					}
	
					.btn-open{
						display:inline-block;
						position:absolute;left:50%;bottom:0;transform:translateX(-50%);
						background-color:#fff;
						@include vw(bottom, -30px);
						border:1px solid #e8e8e8;
						@include vw(width, 300px);
						@include vw(padding, 16px 0);
						@include boxSizing(border-box);
						text-align:center;
						@include arrow(bottom, 5px, 5px, 2px, #999);
						&:before{right:10%;margin-top:-4px;}
						span{
							@include vw(font-size, 20px);
							font-family: $font-noto;
							@include breakpoint(maxMobile){
								@include vw(font-size, 17px);
							}
							color:#222;
						}
					}
				}
			}
	
			.btn-list{
				text-align:right;
				@include vw(margin-top, 80px);
				a{
					display:inline-block;
					border:1px solid #e8e8e8;
					@include vw(width, 100px);
					@include vw(padding, 10px 0 12px);
					text-align:center;line-height:1;
				
					span{
						@include vw(font-size, 17px);
						@include breakpoint(maxMobile){
							@include vw(font-size, 14px);
						}
						@include vw(padding-right, 20px);
						color:#222;line-height:1;
						@include arrow(right, 5px, 5px, 2px, #999);
						&:before{right:0;margin-top:-4px;}
	
					}
				}
			}
		}
	
		.main-info-wrap{
			padding-right: 3.75%;
			width:100%;
			border-left:1px solid #e8e8e8;
			@include breakpoint(maxMobile){
				@include vw(width, 408px);
			}

			.main-info-view{
				@include vw(padding, 77px 40px 0);
				.list{
					position:relative;
					@include vw(padding-bottom, 60px);
					@include vw(margin-bottom, 60px);
					&:after{
						content:'';
						position:absolute;left:0;bottom:0;
						@include vw(width,26px);
						@include vw(height,3px);
						background-color:#999;
					}

					&:last-child{
						&:after{display:none;}
					}

					dl{
						@include vw(margin-top, 50px);
						&:first-child{margin-top:0;}
						dt{
							color:#2e2c2f;font-weight:700;@include vw(font-size, 18px);@include vw(margin-bottom, 15px);
							@include breakpoint(maxMobile){
								@include vw(font-size, 15px);
							}
						}
						dd{
							display:flex;
							color:#999;
							@include vw(font-size, 17px);
							@include breakpoint(maxMobile){
								@include vw(font-size, 14px);
							}
							a{
								span{
									display:inline-block;
									border-bottom:1px solid #999;
								}
								word-break:break-all;
								
							}

							strong{
								color:#222;font-weight:400;
								width:20%;
								display:inline-block;
								&+a{width:80%;}
								&+span{
									display:inline-block;
									width:80%;
								}
							}



							p{
								color:#999;
								@include vw(font-size, 17px);
								@include breakpoint(maxMobile){
									@include vw(font-size, 14px);
								}
								&.ellipsis{
									@extend %textEllipsis;
								}
							}
						}
					}
				}
			}
		}
	}
}

