//css to scss
#skip {
position: relative;
a {
	display: block;
	position: absolute;
	left: 0;
	top: -62px;
	border: 1px solid #000;
	color: #000;
	background: #fff;
	line-height: 30px;
	width: 260px;
	text-align: center;
	z-index: 1;
	&:active, &:focus {
	top: 60px;
	}
}
}

#cover {
	background: #e7e7e7;
	z-index: 9999999;
	position: fixed;
	top: 0%;
	left: -25%;
	width: 150%;
	height: 100%;
	transform-origin: left;
	&.cover-left {
		animation: coverleft 2000ms both cubic-bezier(0.77, 0, 0.175, 1);
	}
	&.cover-right {
		animation: coverright 2000ms both cubic-bezier(0.77, 0, 0.175, 1);
	}
}

.cursor {
	position: absolute;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 50%;
	z-index: 1000;
	user-select: none;
	pointer-events: none;
	transform: scale(1);
	transition: transform 0.3s ease-in-out;
	&.active {
		width: 8vw;
		height: 12vw;
		background: url('../img/arrow1.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	&.active2 {
		width: 12vw;
		height: 8vw;
		background: url('../img/arrow2.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}

#wrap {
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden !important;
	padding-left: 5rem;
	background-color: #729b79;
	.inner {
		width: 86%;
		margin: 0 auto;
	}
}

.left-nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 5rem;
	height: 100vh;
	background: #bacdb0;
	padding: 5rem 0;
	transition: all 0.4s;
	z-index: 100;
	nav {
		.nav-logo {
			position: absolute;
			top: 5rem;
			left: 50%;
			transform: translateX(-50%);
			font-size: 1.5rem;
			display: flex;

			img {
				width: 90%;
			}
		}

		.hamburger_menu {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 100;
		}

		.nav-text {
			position: absolute;
			letter-spacing: 0.07rem;
			bottom: 5rem;
			left: 50%;
			transform: translateX(-50%) rotate(-90deg);
			margin-bottom: 1.2%;
			margin-bottom: 1.78rem;
			font-size: 1.2rem;
			font-weight: 500;
			color: #2e2c2f;
		}
	}
}

.icon-wrap {
	position: fixed;
	left: 2.9rem;
	top: 50%;
	cursor: pointer;
	width: 2.1rem;
	height: 1.5rem;
	transform: rotate(-90deg) translateY(-50%);
	z-index: 1000;
	a {
		display: block;
		width: 100%;
		height: 100%;
	}
}

.icon {
	width: 2.1rem;
	height: 0.13rem;
	background: #2e2c2f;
	&:before, &:after {
		width: 2.1rem;
		height: 0.13rem;
		background: #2e2c2f;
	}
	position: relative;
	transition: all 300ms;
	&.animation {
		background: rgba(245, 245, 245, 0);
	}
	&:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0.4rem;
		transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	&.animation:before {
		bottom: 0;
		transform: rotate(45deg);
		transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
		background: #1B191C;
	}
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0.4rem;
		transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	&.animation:after {
		top: 0;
		transform: rotate(-45deg);
		transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
		background: #1B191C;
	}
}

// nav

nav.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: -100%;
	left: 0;
	background-color: #1B191C;
	z-index: 100;
	transform: translate(0, 0);
	overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		width: 100%;
		height: 0;
		background: #f9f9f9;
		border-radius: 100%;
		padding-bottom: 100%;
		transform: scale(0.04) translateY(9999px);
		overflow: hidden;
	}
}
.open nav.overlay {
	top: 0;
	&:before {
		animation: menu-animation 0.8s ease-in-out forwards;
	}
}

.close nav.overlay {
	&::before {
		animation: menu-animation2 0.8s ease-in-out forwards;
	}
	top: -100%;
}
.menu {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #1B191C;
	z-index: 2;
	width: 100%;
	li {
		opacity: 0;
		text-align: center;
		font-size: 5vw;
		font-weight: 700;
		line-height: 1.5;
		text-transform: uppercase;
		font-family: 'Montserrat';
		transform: translatey(30px);
		padding: 0 20px;

		a {
		display: block;
		width: 100%;
		height: 100%;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			left: auto;
			background: url('../img/check.png');
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			width: 0;
			height: 3rem;
			overflow: hidden;
			transition: width 0.2s cubic-bezier(0.18, 0.45, 0.1, 0.98);
		}

		&:hover:before {
			left: 0;
			right: auto;
			width: 100%;
		}

		&:after {
			opacity: 0;
			content: attr(data-text);
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			color: #1B191C;
			transform: translate(-24px, 0);
			transition: opacity 0.2s cubic-bezier(0.18, 0.45, 0.1, 0.98), transform 0.9s cubic-bezier(0.18, 0.45, 0.1, 0.98);
		}

		&:hover:after {
			opacity: 1;
			transform: translate(0, 0);
		}
		}
	}
}
.open .menu li {
	opacity: 1;
	transform: translatey(0px);
	transition: opacity 1.1s cubic-bezier(0.18, 0.45, 0.1, 0.98), transform 0.7s cubic-bezier(0.18, 0.45, 0.1, 0.98);
	&:nth-child(1) {
		transition-delay: 0.8s;
	}
	&:nth-child(2) {
		transition-delay: 0.9s;
	}
	&:nth-child(3) {
		transition-delay: 1s;
		transition-delay: 1.1s;
	}
	&:nth-child(4) {
		transition-delay: 1.2s;
	}
	&:nth-child(5) {
		transition-delay: 1.3s;
	}
}

// mobile
.m_navi {
	width: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 0.9rem;
	background: #bacdb0;
	display: none;
}
.m_nav-logo {
	text-align: left;
	margin-left: 4%;
	img {
		width: 6%;
	}
}

.left-nav nav .nav-logo sup {
	font-size: 0.9rem;
	font-weight: 400;
	font-family: 'Maharlika Regular';
}

/*=========== 공통 부분 ===============*/
/* 메인 텍스트 애니메이션 */

.splitting {
	.word {
		display: inline-block;
	}
	.char {
		display: inline-block;
		position: relative;
		overflow: hidden;
		color: #2e2c2f;
		&::before, &::after {
			content: attr(data-char);
			position: absolute;
			top: 0;
			left: 0;
			visibility: hidden;
			transition: inherit;
		}
	}
}

.split {
	display: block;
	line-height: 1;
	font-weight: 200;
	margin: 1.25rem 0;
	overflow: hidden;
	font-size: 4rem;
	span {
		opacity: 0;
		transform: translateY(100%);
		display: inline-block;
		min-width: 10px;
	}
}

/* button */
.button, [class*=button-] {
	position: relative;
	overflow: hidden;
	display: inline-block;
	margin: 0 1rem 1rem 0;
	padding: 0 2.8rem;
	height: 3.4rem;
	font: 300 1.65rem/3.4rem 'Rajdhani';
	text-decoration: none;
	letter-spacing: 0.03rem;
	color: #fff;
	font-weight: 500;
	background: #121111;
	border: solid 1px #f9f9f9;
	border-radius: 2px;
	-moz-transition: ease 0.55s all;
	-o-transition: ease 0.55s all;
	-webkit-transition: ease 0.55s all;
	transition: ease 0.55s all;
}

.button:hover, [class*=button-]:hover {
	background: #f9f9f9;
	border: 1px solid #121111;
}

.button-hover {
	&:hover {
		line-height: 9em;
	}

	&:before {
		content: attr(data-text);
		color: #121111;
		position: absolute;
		top: -5.8rem;
	}
}

/* sec1 Intro (공통) */
#intro_sec1 {
	width: 100%;
	height: 100vh;
	position: relative;
	color: #f9f9f9;
	font-weight: 400;
	background-color: #729b79;
	a {
		color: #2e2c2f;
		font-weight: 500;
	}

	.intro {
		padding-bottom: 6rem;
	}

	.main-top-area {
		padding: 4.5rem 0;
		display: flex;
		justify-content: space-between;
		.left-tit, .center-nav li a {
			padding-top: 1.2rem;
			position: relative;
			font-family: 'Rajdhani';
		}

		.left-tit {
			border-top: 1px solid #505050;
		}

		.center-nav li a {
			border-top: 1px solid #505050;
			span {
				font-size: 1.5rem;
				display: block;
			}
			p {
				font-size: 0.9rem;
				padding: 0.5rem 0;
				line-height: 1.3;
				letter-spacing: 0.02em;
			}
		}

		.left-tit {
			width: 19.5%;
			font-size: 1.6rem;
			line-height: 1.2;
			font-weight: 500;

			&::before {
				content: '';
				position: absolute;
				top: -1px;
				left: 0;
				-webkit-transition: all 0.4s;
				transition: all 0.4s;
				height: 100%;
				width: 0;
			}
		}

		.center-nav li a::before {
			content: '';
			position: absolute;
			top: -1px;
			left: 0;
			-webkit-transition: all 0.4s;
			transition: all 0.4s;
			height: 100%;
			width: 0;
		}

		.left-tit::before {
			border-top: 1px solid #bacdb0;
		}

		.center-nav li {
			a::before, .active_line {
				border-top: 1px solid #bacdb0;
			}
		}

		.left-tit:hover::before {
			width: 100%;
		}

		.center-nav {
			li {
				a {
					&:hover::before {
						width: 100%;
					}
					display: block;
					width: 79%;
				}
				float: left;
				width: 33%;
			}
			width: 72%;
		}
	}

	.right-btn-wrap {
		display: none !important;

		position: fixed;
		z-index: 5;
		top: auto;
		bottom: 4rem;
		right: 3rem;
		-webkit-animation: updown 0.9s infinite alternate;
		-moz-animation: updown 0.9s linear infinite alternate;
		-o-animation: updown 0.9s infinite alternate;
		animation: updown 0.9s infinite alternate;

		.right-btn {
			border: 1px solid #505050;
			font-weight: 500;
			line-height: 70px;
			width: 70px;
			text-align: center;
			border-radius: 50%;
			position: relative;

			a {
				display: block;
				width: 100%;
				height: 100%;
				font-size: 1rem;
				z-index: 100;
			}

			svg#circle {
				position: absolute;
				top: 0;
				left: 0;
				height: 71.5px;
				width: 71.5px;
				z-index: 1;
			}

			circle {
				stroke-dasharray: 400;
				stroke-dashoffset: 400;
				stroke-linecap: butt;
				-webkit-transition: all 2s ease-out;
				-moz-transition: all 2s ease-out;
				-ms-transition: all 2s ease-out;
				-o-transition: all 2s ease-out;
				transition: all 2s ease-out;

				&:hover {
				stroke-dashoffset: 0;
				stroke-dasharray: 400;
				stroke-width: 0.7;
				}
			}
		}
	}

	.main_cont {
		width: 86%;
		position: absolute;

		/* bottom:4rem; */
		display: flex;
		left: 50%;

		/* top:50%; */
		top: 70%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	.intro-img {
		width: 28%;
		position: relative;
		text-align: center;

		img {
			width: 16rem;
			margin-top: 6.5%;
		}

		figcaption {
			position: absolute;
			left: 0;
			bottom: 12%;
			-webkit-transform: rotate(-90deg) translate(0, 100%);
			transform: rotate(-90deg) translate(0, 100%);
			transform-origin: 0 100%;
			font-size: 1.2rem;
			color: #2e2c2f;
		}
	}

	.main-title {
		line-height: 1;
		text-align: left;
		width: 72%;

		h1 {
		font-family: 'Montserrat';
		line-height: 1;

		span {
			font-size: 8.2rem;
			letter-spacing: -0.03rem;
			font-weight: 900;
			text-transform: uppercase;
		}
		}

		.point {
		width: 32rem;
			img {
				width: 100%;
			}
		}
	}
}

/* intro sec2 About (공통)*/

#intro_sec2 {
	.about {
		padding: 6rem 0 3.5rem 0;
	}

	.overview {
		width: 25%;
		/* height:28rem; */
		float: left;
		color: #f9f9f9;
		font-size: 1.8rem;

		span {
			/* opacity:0; */
			/* display:inline-block; */
			/* transform:translatex(-30px); */
		}

		&.df_height {
		height: 24rem;
		}
	}

	.overview_img_wrap {
		position: relative;
		top: 1rem;
		left: 0;

		/* display: none; */

		li {
			width: 20.5vw;
			height: 20.5vw;
			position: absolute;
			top: 5%;
			img {
				width: 100%;
				opacity: 0;
				-webkit-transition: all 0.5s;
				transition: all 0.5s;

				&.active_ov_img {
					opacity: 1;
				}
			}
		}
	}

	.about-text {
			width: 72%;
			height: auto;
			float: right;
			p {
				font-family: 'Chosunilbo_myungjo';
				font-size: 1.5rem;
				line-height: 1.85;
				word-break: keep-all;
				color: #f9f9f9;
				margin-bottom: 2rem;
				display: block;

			a {
				color: #f9f9f9;
				text-decoration: underline;
				font-weight: 500;
			}

			span {
				display: inline-block;

				/* opacity:0;
				transform:translateY(50px); */
				min-width: 10px;
			}
		}

		strong {
			font-family: 'Chosunilbo_myungjo';
			line-height: 1.4;
			position: relative;
			display: inline-block;
			border-bottom: 1px solid #505050;
			color: #f9f9f9;
			font-weight: 500;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				-webkit-transition: all 0.5s;
				transition: all 0.5s;
				height: 100%;
				border-bottom: 1px solid #e7e7e7;
				width: 0;
			}

			&:hover::before {
				width: 100%;
			}
		}

		p.last_p {
		margin-top: 4rem;
		}
	}
}

/* next_area (공통) */
.common_next_wrap{
	background-color: #729b79;
	.next_area {
		width: 100%;
		height: 100vh;
		padding-top: 5rem;
		position: relative;
		a {
			.small_skill_text {
				width: 100%;
				color: #2e2c2f;
				font-size: 1.8rem;
				margin-left: 7%;
			}
			.main_skill_text {
				font-size: 11vw;
				letter-spacing: -0.2rem;
				text-transform: uppercase;
				color: #2e2c2f;
				font-family: 'Montserrat';
				font-weight: 700;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

/* footer */
#footer {
	width: 100%;
	height: 7.5rem;
	background: #121111;

	.footer_cont {
		width: 86%;
		padding: 2.5rem 0;
		margin: 0 auto;
		border-top: 1px solid #505050;
	}

	.footer_flex_wrap {
		display: flex;
		justify-content: space-between;
		.ft_flex_box {
			width: 33.3%;
			font-size: 1rem;
		}

		.copyright {
			color: #5f5f5f;
		}

		.like_email {
			text-align: center;
			color: #e7e7e7;
			padding: 0.5rem 0;
			a {
				color: #e7e7e7;
				position: relative;
				border-bottom: 1px solid #505050;
				&::before {
					content: '';
					position: absolute;
					top: 0px;
					left: 0;
					-webkit-transition: all 0.4s;
					transition: all 0.4s;
					height: 100%;
					border-bottom: 1px solid #e7e7e7;
					width: 0;
				}
				&:hover::before {
					width: 100%;
				}
			}
		}

		.icon_wrap {
			padding: 0.5rem 0;
			li {
				float: right;
				margin-left: 1.2rem;
				&:first-child {
					margin-right: 0;
				}
				a i {
					color: #5f5f5f;
					font-size: 1.2rem;
					&:hover {
						transition: all 0.3s;
						color: #e7e7e7;
					}
				}
			}
		}
	}
}

/*=========== About===============*/
#intro_sec3, #intro_sec4 {
	@include vw(padding-top, 120px);
	background: #fff;
	.text_area {
		display: flex;
		justify-content: space-between;
		padding-bottom: 4rem;
		.small_skill_text {
			width: 25%;
			color: #2e2c2f;
			font-size: 1.8rem;
		} 
		.main_skill_text {
			width: 72%;
			font-size: 1.5rem;
			line-height: 1.85;
			color: #2e2c2f;
			font-family: 'Chosunilbo_myungjo';
			word-break: break-all;
		}
	}

	.skill-container {
		padding-bottom: 5rem;
		ol {
			color: #2e2c2f;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-left: 28%;
			@include vw(gap, 20px 20px);
			border-top: 1px solid #2e2c2f;
			padding-top:2rem;
			li {
				background:#bacdb0;
				@include vw(width, 120px);
				@include vw(height, 120px);
				border-radius:50%;
				.skill-icon{
					position: relative;
					img{
						display: block;
						@include vw(width, 80px);
						@include vw(height, 80px);
						margin:0 auto;
						@include vw(margin-top, 21px);
					}
				}
			}
		}
	}
}

#intro_sec4{
	.skill-container {
		ol {
			li {
			}
		}
	}
}
/*=========== WebSite ===============*/
/* WebSite Intro */
figcaption.site_df_text {
	left: -12% !important;
}

/* WebSite 소개부분 */
#intro_sec2 {
	padding-bottom: 5rem;

	.website_intro {
		padding-top: 10rem;
	}

	.text_sec .overview_img_wrap li.ov_small_img1 {
		width: 15.5vw;
		height: 15.5vw;
	}

	.sct_loction {
		color: #f9f9f9;
		width: 20%;
		float: left;
	}

	.sct_loction_text {
		width: 69%;
		height: auto;
		float: right;
		li {
			a span {
				display: inline-block;
				font-size: 2.9rem;
				line-height: 1.45;
				word-break: keep-all;
				margin-bottom: 1.5rem;

				&:first-child {
				margin-right: 3rem;
				}

				&.sct_loction_tit {
				position: relative;
				}
			}
			&.active_white a span {
				color: #f9f9f9;
				&.sct_loction_tit {
				border-bottom: 2px solid #e7e7e7;
				}
			}
		}
	}
}

svg#text-container {
	fill: #f9f9f9;
	font-family: 'Chosunilbo_myungjo';

	text {
		font-size: 1.25rem;
	}
}

/* WebSite 슬라이더 부분*/

#website_sec1 {
	width: 100%;
	.site_list_title {
		background: #f9f9f9;
		padding: 10rem 0 6rem 0;

		h3 {
			font-size: 7.5vw;
			color: #020505;
			font-family: 'Montserrat';
			font-weight: 700;
			text-align: center;
			opacity: 0;
			transform: translateY(-30px);
		}

		p {
			text-align: center;
			font-family: 'Chosunilbo_myungjo';
			font-size: 1.75rem;
			line-height: 1.85;
			word-break: keep-all;
			padding-top: 2rem;
		}
	}
	.site_list_container {
		width: 100%;
		/* height:100vh; */
		position: relative;
		background-color: #f9f9f9;
	}
}

.flex__container {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	-o-justify-content: flex-start;
	justify-content: flex-start;
	height: 100%;
	width: 100%;
	z-index: 1;
	padding: 3rem 0;
	&:nth-child(2n) {
		background-color: #ececec;
	}
	&.flex--active {
		z-index: 2;
	}
}

.text--sub {
	font-size: 1.2rem;
	letter-spacing: 0.5rem;
	padding-bottom: 2.4rem;
	margin-bottom: 1rem;
	font-family: 'Montserrat',sans-serif;
	border-bottom: 1px solid #121111;
	color: #121111;
}

.text--big {
	font-family: 'Montserrat';
	font-size: 3.35vw;
	letter-spacing: -0.2rem;
	font-weight: 700;
	line-height: 1.2;
	position: relative;
	color: #121111;

	&::after {
		position: absolute;
		width: 100%;
		height: 4vw;
		background: url('../img/check.png');
		background-size: cover;
	}
}

.text--normal {
	font-size: 1.25rem;
	font-family: 'Chosunilbo_myungjo';
	line-height: 1.8;
	margin: 2.5rem 0 1.6rem 0;
	color: #121111;
}

.flex__item {
	height: 100%;
	color: #fff;
	transition: transform 0.1s linear;
}

.flex__item--left {
	width: 50%;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;

	justify-content: center;

	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	transform-origin: left bottom;
	transition: transform 0.1s linear 0.4s;
	position: relative;
	overflow: hidden;
}

.flex__item--right {
	width: 50%;
	transform-origin: right center;
	transition: transform 0.1s linear 0s;
}

.flex__content {
	padding-left: 10%;
	padding-right: 10%;
	width: 100%;
}

.pokemon__img {
	max-height: 35vw;
	max-width: 35vw;
	opacity: 1;
}

//230115
.flex__content{
	.action{
		display: flex;
		gap:.5rem;
		flex-wrap:wrap;
		justify-content: flex-start;
		align-items:center;
		width:100%;
		a{
			// width:30%;
			margin:0;
			text-align: center;
		}
	}
}

/* Animate-START point */

.flex__container {
	&.animate--start {
		.flex__content {
		transform: translate3d(0, -200%, 0);
		}
		.pokemon__img {
			transform: translate3d(-200px, 0, 0);
		}
	}
	&.animate--end {
		.flex__item--left {
			transform: scaleY(0);
		}

		.flex__item--right {
			transform: scaleX(0);
		}

		.flex__content {
			transform: translate3d(0, 200%, 0);
			opacity: 0;
		}

		.pokemon__img {
			transform: translate3d(200px, 0, 0);
			opacity: 0;
		}
	}
}

/* Animate-END point */

/*=========== Moblie ===============*/

#mobile_sec1 {
	width: 100%;
	.site_list_title {
		background: #f9f9f9;
		padding: 10rem 0 6rem 0;
		h3 {
			font-size: 7.5vw;
			color: #020505;
			font-family: 'Montserrat';
			font-weight: 700;
			text-align: center;
		}
		p {
			text-align: center;
			font-family: 'Chosunilbo_myungjo';
			font-size: 1.75rem;
			line-height: 1.85;
			word-break: keep-all;
			padding-top: 2rem;
		}
	}
	.site_list_container {
		width: 100%;
		position: relative;
		background-color: #f9f9f9;
	}
}

.common_next_wrap .br_none::before {
	width: 0;
	height: 0;
}

/*=========== Javascript ===============*/

/* 가로 컨텐츠 부분 */
.horizontal-scroll {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.horizontal-panel {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	justify-content: space-between;
	min-width: 100vw;
	height: 100vh;
	background-color: #f9f9f9;

	.panel_box_wrap {
		margin: 0 auto;
	}
	.panel_box {
		width: 82vw;
		height: 67.5vh;
		margin: 16vh 0;
		display: flex;
		justify-content: space-between;
	}
	.panel_img {
		width: 58%;
		height: 100%;
		position: relative;
		.fixed_num {
			position: absolute;
			top: -10%;
			left: -7%;
			font-size: 9.7vw;
			font-family: 'Montserrat',sans-serif;
			letter-spacing: -0.01rem;
			font-weight: 700;
			color: #ebebeb;
			text-shadow: -1px 0 #868686,0 1px #868686,1px 0 #868686,0 -1px #868686;
		}
		img {
		width: 100%;
		}
	}

	.panel_text {
		height: 100%;
		width: 35%;
		h3 {
			font-family: 'Montserrat';
			font-size: 4.1vw;
			letter-spacing: -0.04rem;
			line-height: 1.2;
			margin-bottom: 1rem;
			font-weight: 800;
		}

		p.sub {
			margin-bottom: 1.2rem;
			font-size: 1.5rem;
			font-family: 'Chosunilbo_myungjo';
		}

		.text p {
			font-size: 1.3rem;
			line-height: 1.7;
			font-family: 'Chosunilbo_myungjo';
			padding-bottom: 2rem;
			word-break: break-word;
		}
	}
}

/* 페러랙스 컨텐츠 부분 */
.horizontal-pin {
	.pl_one {
		background: #f0f0f0;
		width: 100%;
		overflow: hidden;

		.marquee h4 {
		flex-shrink: 0;
		}

		.marquee-track {
		align-items: center;
		display: flex;
		justify-content: center;

		h4 {
			font-size: 7.6vw;
			border-bottom: 1px solid #ddd;
		}

		&.r h4 {
			color: #f9f9f9;
			text-shadow: -1px 0 #868686,0 1px #868686,1px 0 #868686,0 -1px #868686;
		}
		}
	}
	.pl_two {
		background: #121111;
	}
	.pin_two {  
		width: 81.8%;
		height: 100vh;
		margin: 0 6.6%;
		padding: 3.5% 0;
		h4 {
			font-size: 7.2vw;
			letter-spacing: -0.03rem;
			font-family: 'Montserrat';
			color: #f9f9f9;
			margin-bottom: 2.6vw;
		}

		.cont {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			li {
				width: 23.5%;
				border: 1px solid #121111;
				figure {
					width: 100%;
					overflow: hidden;
					img {
						width: 100%;
						-webkit-transition: .3s ease-in-out;
						transition: .3s ease-in-out;
						&:hover {
						-webkit-transform: scale(1.3);
						transform: scale(1.15);
						}
					}
				}

				.pin_text {
					padding: 1vw 0;
					color: #f9f9f9;
					font-size: 1.4rem;
				}
			}
		}
		.ft {
			margin-top: 2vw;
			font-family: 'Chosunilbo_myungjo';
			color: #f9f9f9;
			font-size: 1.5vw;

			.tag {
				margin-bottom: 1vw;
			}
		}

		.ft_text em {
			font-style: normal;
			display: inline-block;
			position: relative;
		}
	}
}

/* svg */
.circle_point2 {
	position: absolute;
	top: -29%;
	left: -9%;
	width: 6vw;
	height: 3.3vw;
}

.circle_point2_path {
	opacity: 0;
	&.active_dash {
		opacity: 1;
		stroke-dasharray: 4034;
		stroke-dashoffset: 4034;
		animation: dash 3s linear forwards;
	}
}

/*=========== contact ===============*/

#contact {
	padding: 6.2rem 0;
	background: #f9f9f9;
	> .inner {
		display: flex;
		justify-content: space-between;
	}

	.contact_img_wrap {
		width: 48%;
		position: relative;
		img {
		width: 100%;
		}
	}

	.contact_text_wrap {
		width: 48%;
		position: relative;
	}

	.title {
		font-family: 'Montserrat';
		letter-spacing: -0.03rem;
		font-size: 5.2vw;
		color: #121111;
	}

	.info_list {
		padding-top: 3rem;
		dl {
		margin-bottom: 2.5rem;
		}
	}

	dt.info_name {
		position: relative;
		display: inline-block;
		margin-bottom: 1rem;
		&::before {
			content: '';
			position: absolute;
			bottom: -1px;
			left: 0;
			height: 1px;
			width: 100%;
			background: #121111;
		}
	}

	dd a {
		font-size: 1.2rem;
	}

	.contact_copyright {
		position: absolute;
		right: 6%;
		bottom: 15%;
		font-size: 0.9rem;
		font-family: 'Montserrat';

		sup {
		font-size: 0.5rem;
		}
	}
}


/* 반응형 */
@media (max-width: 1410px) {
	body {
	}
	html {
		font-size: 13px;
	}
	#intro_sec1 {
		.main-title h1 span {
			font-size: 7.3rem;
		}

		.intro-img img {
			width: 14rem;
		}

		.main-top-area {
			.center-nav {
				display: none;
			}

			.left-tit {
				width: 70%;
			}
		}
	}

	svg#text-container text {
		font-size: 2.4rem;
	}

	.horizontal-pin .pin_two h4 {
		font-size: 12.2vw;
	}

}

@media (max-width: 1024px) {
	#cover {
		width: 280%;
		left: -32%;
	}

	#intro_sec1 {
		.main_cont {
			-ms-flex-direction: column;
			flex-direction: column;
		}

		.main-title {
			width: 100%;
			h1 span {
				font-size: 6.5rem;
			}
		}

		.intro-img {
			margin-bottom: 2.5rem;
		}
	}

	.flex__content {
		.action {
			justify-content: center;
			margin: 0 0 1.6rem 0;
		}
	}

	#intro_sec3, #intro_sec4 {
		.text_area {
			flex-direction: column;
			.small_skill_text {
				width: 100%;
				margin-bottom: 4rem;
			}
			.main_skill_text {
				width: 100%;
				font-size: 1.5rem;
			}
		}
		.skill-container {
			ol {
				margin-left: 0;
			}
		}

		.about-img-area .img_text_cont {
			width: 60%;
			.title {
				font-size: 7vw;
			}
		}
	}

	.circle_point {
		width: 25vw;
	}

	.menu li {
		font-size: 8vw;
	}

	#website_sec1 .site_list_title, #mobile_sec1 .mobile_title {
		padding: 5rem 0 3rem 0;
	}

	.flex__container {
		-webkit-flex-flow: column;
		-moz-flex-flow: column;
		-ms-flex-flow: column;
		-o-flex-flow: column;
		flex-flow: column;
		&:nth-child(2n) {
			flex-direction: column-reverse;
		}
	}  
	.flex__item--left, .flex__item--right {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}

	.slider__navi {
		top: 75%;
		-webkit-transform: translateY(-75%);
		-moz-transform: translateY(-75%);
		-ms-transform: translateY(-75%);
		-o-transform: translateY(-75%);
		transform: translateY(-75%);
		right: 10%;
	}

	.text--sub {
		margin-bottom: 1.2rem;
	}

	.pokemon__img {
		left: 0;
		right: 0;
		margin: 0 auto;
		bottom: 10%;
		max-height: 54vw;
		max-width: 54vw;
	}

	.text--big {
		font-size: 6.4vw;
	}

	#mobile_sec1 .moblie_container .move_exp_box {
		padding: 4rem 0 7rem 0;
	}

	.horizontal-pin .pl_one .marquee-track h4 {
		font-size: 10vw;
	}

	.horizontal-panel {
		.panel_box {
			flex-flow: column;
			width: 70vw;
			margin: 10vh 0;
		}

		.panel_img {
			width: 90%;
			margin-left: 5%;
		}

		.panel_text {
			width: 90%;
			margin-left: 5%;

			h3 {
				margin-top: 1rem;
				font-size: 6.1vw;
			}
		}
	}

	.horizontal-pin .pin_two {
		padding: 15.5% 0;
		margin: 0 5.4%;

		.cont li {
			width: 32%;
			margin-bottom: 1rem;
		}

		h4 {
			font-size: 7.2vw;
		}

		.ft {
			font-size: 1.8vw;
			line-height: 1.7;
		}
	}

	.circle_point2 {
		top: 7%;
	}

	#contact {
		> .inner {
			flex-flow: column;
		}

		.contact_img_wrap, .contact_text_wrap {
			width: 100%;
		}

		.title {
			margin-top: 2vw;
			font-size: 9vw;
		}

		.info_list {
			padding-top: 1rem;
		}

		.contact_copyright {
			right: 4%;
			bottom: 10%;
		}

		.info_list dl {
			margin-bottom: 1.8rem;
		}
	}
}

@media (max-width: 712px) {
	html {
		font-size: 12px;
	}
	#cover {
		left: -55%;
	}

	#wrap {
		padding-left: 0;
		padding-top: 2.5rem;
	}

	.inner {
		width: 90%;
	}

	#intro_sec1 {
		.intro-img img {
			width: 14rem;
		}

		.main-title h1 span {
			font-size: 5rem;
		}

		.intro-img figcaption {
			display: none;
		}
		.right-btn-wrap {
			right: 1.5rem;
		}
	}


	#intro_sec2 .overview_img_wrap {
		display: none;
	}

	#intro_sec3, #intro_sec4 {
		.about-img-area .img_text_cont .title {
			font-size: 8vw;
		}
		.more_inf .small_img {
			width: 21vw;
			height: 15vw;
		}
	}

	.menu li {
		font-size: 10vw;
	}

	.left-nav {
		display: none;
	}

	.m_navi {
		display: block;
		z-index: 99;
	}

	.icon-wrap {
		position: fixed;
		left: 90%;
		top: 1.8rem;
		width: 2.1rem;
		height: 1.6rem;
		transform: rotate(0deg) translateY(0);
	}

	.icon {
		height: 0.2rem;

		&:before, &:after {
		height: 0.2rem;
		}

		&:before {
		bottom: 0.6rem;
		}

		&:after {
		top: 0.6rem;
		}
	}


	#intro_sec2 {
		padding-bottom: 3rem;
		.about-text p {
			font-size: 1.4rem;
		}
		.overview, .about-text {
			float: none;
			width: 100%;
			margin-bottom: 4rem;
		}
		.about-text p.last_p {
			margin-top: 3rem;
		}
		.about {
			padding: 6rem 0 1rem 0;
		}
		.website_intro {
			padding-top: 6rem;
		}
		.overview_img_wrap li {
			width: 33vw;
			height: 33vw;
		}
		.overview.df_height {
			height: 25rem;
			margin-bottom: 0rem;
		}
	}

	svg#text-container text {
		font-size: 3.1rem;
	}

	#website_sec1 .site_list_title h3 {
		font-size: 8.5vw;
	}

	.pokemon__img {
		left: 0;
		right: 0;
		margin: 0 auto;
		max-height: 68vw;
		max-width: 68vw;
	}

	.slider__navi {
		right: 5%;
		a {
			width: 1.6rem;
			height: 0.6rem;
		}
	}

	#mobile_sec1 .moblie_container {
		.move_exp_box {
			padding: 3.5rem 0 5.5rem 0;
		}
		.move span {
			width: 28vw;
		}
	}

	.horizontal-panel {
		.panel_box {
			flex-flow: column;
			width: 90vw;
			margin: 12vh 0;
		}

		.panel_img {
			width: 100%;
			margin-left: 0;
		}

		.panel_text {
			width: 100%;
			margin-left: 0;
			h3 {
				font-size: 8vw;
			}
		}

		.panel_img {
			.fixed_num {
				left: 0;
			}
			img {
				margin-top: 2.6rem;
			}
		}
	}

	.horizontal-pin {
		.pl_one .marquee-track h4 {
			font-size: 17vw;
		}
		.pin_two {
			width: 90%;
			.cont li {
				width: 47%;
				width: 48%;
			}
		}
	}

	.common_next_wrap .next_area a .small_skill_text {
		margin-left: 10%;
	}
}

@media (max-width: 560px) {
	#intro_sec1 .main-title h1 span {
		font-size: 3.62rem;
	}

	#intro_sec2 {
		.overview_img_wrap {
			display: none;
			li {
				width: 39vw;
				height: 39vw;
			}
		}

		.text_sec .overview_img_wrap li.ov_small_img1 {
			width: 39vw;
			height: 39vw;
		}

		.overview.df_height {
			height: 22.5rem;
		}
	}

	#intro_sec3, #intro_sec4 {
		.more_inf .small_img {
			width: 25vw;
			height: 19vw;
		}
	}

	.horizontal-pin .pin_two {
		h4 {
			font-size: 12vw;
			margin-bottom: 4rem;
		}
		.ft { font-size: 2.9vw;}
	}

	.circle_point2 {
		width: 11vw;
		height: 5.3vw;
	}
}

@media (max-width: 380px) {

	.horizontal-pin .pin_two {
		padding: 9.5% 0;
	}
}
//css to scss

// animation
@keyframes menu-animation {
	0% {
		transform: scale(0.04) translatey(300%);
		opacity: 0;
	}

	40% {
		transform: scale(0.04) translatey(0);
		transition: ease-out;
	}

	60% {
		transform: scale(0.02) translatey(0);
		opacity: 1;
	}

	61% {
		transform: scale(0.04);
	}

	99.9% {
		height: 0;
		padding-bottom: 100%;
		border-radius: 100%;
	}

	100% {
		transform: scale(2);
		height: 100%;
		padding-bottom: 0;
		border-radius: 0;
	}
}

@keyframes menu-animation2 {
	0% {
		transform: scale(2);
		height: 100%;
		padding-bottom: 0;
		border-radius: 0;
	}

	40% {
		height: 0;
		padding-bottom: 100%;
		border-radius: 100%;
	}

	60% {
		transform: scale(0.04);
	}

	61% {
		transform: scale(0.02) translatey(0);
		opacity: 1;
	}

	99.9% {
		transform: scale(0.04) translatey(0);
		transition: ease-out;
	}

	100% {
		transform: scale(0.04) translatey(300%);
		opacity: 0;
	}
}

@keyframes coverleft {
	0% {
		transform: scaleX(1) skewX(30deg);
		transform-origin: left;
	}

	100% {
		transform: scaleX(0) skewX(30deg);
		transform-origin: left;
	}
}

@keyframes coverright {
	0% {
		transform: scaleX(0) skewX(20deg);
		transform-origin: left;
	}

	100% {
		transform: scaleX(1) skewX(20deg);
		transform-origin: left;
	}
}

@keyframes updown {
	0% {
		transform: translatey(0);
	}

	100% {
		transform: translatey(-8%);
	}
}